menu "PIX Configuration"

    config PIX_GATEWAY_HOST
        string "Hostname do Gateway"
        default "pix.host.com"
        help
            Define o hostname do gateway

    config HOST_USE_HTTPS
        bool "Usar HTTPS"
        default y
        help
            Se este item estiver setado as chamadas ao Gateway serão feitas com HTTPS

endmenu

